.App {
  font-family: sans-serif;
  text-align: center;
}

.processing-indicator {
  margin: auto;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 3px solid;
  border-color: #aaaaaa;
  border-right-color: #d1d1d1;
  animation: loading 0.7s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
