.App {
  font-family: sans-serif;
  text-align: center;
}

.loader-circle {
  margin: auto;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 3px solid;
  border-top-color: #42a5ff;
  border-left-color: #42a5ff;
  border-bottom-color: #42a5ff;
  border-right-color: #d1d1d1;
  animation: loading 0.75s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
